@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=cyrillic');
html,
body,
#app,
#login {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Comfortaa', cursive;
  background: url("../images/admin/bg-admin-light-low.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;
}
#app {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}
#login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
#login .card {
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid gray;
  width: 500px;
  border-radius: 0;
}
#login .card-header {
  font-size: 20px;
  text-transform: uppercase;
  background-color: #760b0e;
  color: white;
  font-weight: 400;
  border-radius: 0;
}
.hide {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
}
#top-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  width: 200px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.3);
}
#top-nav .top-nav__logo img {
  width: 200px;
}
#top-nav .top-nav__user {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 50px;
  min-height: 50px;
  border-bottom: 1px solid #760b0e;
  background: #efefef;
}
#top-nav .top-nav__user .avatar {
  width: 50px;
}
#top-nav .top-nav__user .avatar .material-icons {
  font-size: 50px;
}
#top-nav .top-nav__user .name {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #505050;
  height: 50px;
  padding: 0 8px;
  font-size: 20px;
}
#top-nav #left-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  width: 200px;
  background: rgba(0, 0, 0, 0.8);
}
#top-nav #left-menu .left-menu__title {
  width: 100%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: #760b0e;
  color: white;
  font-weight: bold;
  position: relative;
}
#top-nav #left-menu .left-menu__title .material-icons {
  position: absolute;
  right: 0;
  top: 2px;
  cursor: pointer;
}
#top-nav #left-menu ul {
  margin: 0;
  padding: 10px 0;
  width: 100%;
}
#top-nav #left-menu ul li a {
  color: white;
  font-size: 18px;
  font-weight: 400;
  display: block;
  width: 100%;
  line-height: 40px;
  padding-left: 45px;
  position: relative;
}
#top-nav #left-menu ul li a .material-icons {
  position: absolute;
  left: 5px;
  top: 7px;
}
#top-nav #left-menu ul li a:hover {
  text-decoration: none;
  background: #760b0e;
}
.content-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  width: 100%;
}
.content-wrapper #tool-panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  background: rgba(0, 0, 0, 0.8);
  margin: 15px 40px;
  padding-right: 55px;
}
.content-wrapper #tool-panel a {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: white;
}
.content-wrapper #tool-panel a .material-icons {
  margin-right: 8px;
}
.content-wrapper #tool-panel a:hover,
.content-wrapper #tool-panel a:focus {
  text-decoration: none;
  color: #b2b2b2;
}
.content-wrapper .price-download {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
